.footer {
  padding: 24px 0;
}

.footer__container {
  text-align: center;
}

.footer__logo {
  margin: 0 auto;
  max-width: 222px;
  margin-bottom: 32px;
}

.footer__content {
  max-width: max-content;
  margin: 0 auto;
  font-size: 14px;
  color: var(--beige);
}

.footer__copyright {
  margin-bottom: 16px;
}

.footer__developers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__developer {
}
.footer__link {
}
