.toppings {
  padding: 24px 0px;
}

.toppings__container {
}

.toppings__title {
  position: fixed;
  transform: scale(0);
}

.toppings__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: var(--dark);
  display: flex;
  gap: 4px;
  align-items: center;
}

.toppings__arrow {
  transition: transform 0.3s ease-in-out;
}

.toppings__button_active .toppings__arrow {
  transform: scaleY(-1);
}

.toppings__list {
  display: none;
  flex-wrap: wrap;
  gap: 8px;

  /* !todo */

  max-height: 0;
  overflow: hidden;

  transition: max-height 0.3s ease-in-out;
}

.toppings__list_show {
  display: flex;
  /* !todo */
}

.toppings__checkbox {
  position: absolute;
  appearance: none;
}

.toppings__label {
  display: block;
  border-radius: 32px;
  padding: 8px 24px;
  border: 1px solid transparent;
  background: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--beige);
  cursor: pointer;

  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.toppings__label:hover {
  color: var(--orange);
}

.toppings__checkbox:focus-visible + .toppings__label {
  background: var(--white);
  border-color: #b66200;
  color: var(--orange);
}

.toppings__checkbox:checked + .toppings__label {
  color: var(--light);
  background: var(--orange);
}

.toppings__checkbox:checked + .toppings__label:hover {
  color: var(--white);
}

.toppings__reset {
  display: block;
  border-radius: 32px;
  padding: 8px 24px;
  border: 1px solid transparent;
  background: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--orange);
  cursor: pointer;
  outline: none;

  transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.toppings__reset:focus-visible {
  border-color: #b66200;
}

.toppings__reset:hover {
  color: var(--white);
  background: var(--orange);
}

@media (width >= 620px) {
  .toppings {
    padding: 32px 0px;
  }

  .toppings__button {
    font-size: 24px;
  }

  .toppings__label,
  .toppings__reset {
    font-size: 20px;
  }
}

@media (width >= 860px) {
  .toppings__title {
    position: static;
    transform: scale(1);
    font-weight: 600;
    font-size: 24px;
    color: var(--dark);
  }

  .toppings__list {
    display: flex;
    max-height: none;
    /* !todo */
  }

  .toppings__button {
    display: none;
  }
}

@media (width >= 1140px) {
}
